body{
    background-color: mistyrose;
}
hr{
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 5px;
    border-color: #66BFBF;
}
h1{
    color: #4ca9a9;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    color: #4ca9a9;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}